<header class="navbar navbar-inverse navbar-fixed-top" ng-show="frame">
    <div class="navbar-inner">
        <div ng-include="'logo.html'"></div>

        <div class="container">

            <a class="brand" ui-sref="search"><span style="color:black;">META</span>DATABASE</a>
            <div ng-show="userName">
                <p class="navbar-text pull-right">Velkommen <strong>{{userName}}</strong>
                </p>
            </div>
            <ul class="nav pull-right">
                <li class="dropdown">
                    <a class="dropdown-toggle"><i class="icon-reorder icon-large"></i></a>
                    <ul class="dropdown-menu">
                        <li ng-show="userName"><a ui-sref="home.new">Opret ny</a>
                        </li>
                        <li ng-show="!showSchemas && !isDisabled"><a ng-click="slet()">Slet</a>
                        </li>
                        <li ng-show="!userName"><a ng-click="login()">Log ind</a>
                        </li>
                        <li ng-show="userName"><a ng-click="logout()">Log ud</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>
<div ui-view></div>

<footer ng-include="'footer.html'" ng-show="frame">

</footer>